body {
    font-family: sans-serif;
}
table {
    border: 1px solid grey;
    min-width: 300px;
    text-align: left;
}
td, th {
    padding: 0.5rem 1rem;
}
tr td {
    border-top: 1px solid grey;
}
.placeholder-row {
    text-align: center;
}
.placeholder-row td {
        padding: 3rem 1rem;
        background-color: lightgrey;
}
.placeholder-row.is-hidden {
    display: none;
}
